{% extends "base.html" %}

{% set active_page = "index" %}

{% block title %}Underground Garage Underground{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Garage.underground</h1>
            <h2>It's Alive, It's Alive</h2>
        </div>
    </div>

    <div class="container">
        <a href="{{ url_for('main.update') }}">Update</a>
        <table class='table table-striped table-hover'>
            <thead><tr>
                <th>Episode</th>
                <th>Name</th>
                <th>URL</th>
                <th>File</th>
            </tr></thead>
            {% for show in Show.query.order_by(Show.episode.desc()).all() %}
                <tr>
                    <td>{% if show.episode %}{{ show.episode }}{% endif %}</td>
                    <td>{% if show.name %}{{ show.name }}{% endif %}</td>
                    <td>{% if show.description %}{{ show.description }}{% else %}{{ show.url }}{% endif %}</td>
                    <td>{% if show.episode %}<a href='{{ url_for('main.mp3', episode=show.episode) }}'>{% endif %}{% if show.file %}<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}{% if show.episode %}</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
